<div layout="row" flex>
	<form name="patientForm" novalidate>
		<md-content layout="column">
			<md-input-container>
				<label>Name</label>
				<input name="name" type=text ng-required="true" ng-model='patient.name' />
				<ng-messages for="patientForm.name.$error" multiple>
					<div ng-messages-include="error_messages.html"></div>
				</ng-messages>
			</md-input-container>
			<md-input-container>
				<label>Sex</label>
			</md-input-container>
			<md-radio-group name="sex" ng-model="patient.sex" layout="row">
				<md-radio-button value="female">Female</md-radio-button>
				<md-radio-button value="male">Male</md-radio-button>
			</md-radio-group>
			<md-input-container>
				<label>Address</label>
				<input name="address" type=text ng-required="false" ng-model='patient.address' />
				<ng-messages for="patientForm.address.$error" multiple>
					<div ng-messages-include="error_messages.html"></div>
				</ng-messages>
			</md-input-container>
			<md-input-container>
				<label>City</label>
				<input name="city" type=text ng-required="false" ng-model='patient.city' />
				<ng-messages for="patientForm.city.$error" multiple>
					<div ng-messages-include="error_messages.html"></div>
				</ng-messages>
			</md-input-container>
			<md-input-container>
				<label>State</label>
				<input name="state" type=text ng-required="false" ng-model='patient.state' />
				<ng-messages for="patientForm.state.$error" multiple>
					<div ng-messages-include="error_messages.html"></div>
				</ng-messages>
			</md-input-container>
			<md-input-container>
				<label>ZIP Code</label>
				<input name="zipCode" type=text ng-required="false" ng-model='patient.zipCode' />
				<ng-messages for="patientForm.zipCode.$error" multiple>
					<div ng-messages-include="error_messages.html"></div>
				</ng-messages>
			</md-input-container>
   			<md-input-container>
				<label>Phone</label>
				<input name='phone' ng-required="false" is-open='opened' type='text' ng-model='patient.phone'/>
				<ng-messages for="patientForm.phone.$error" multiple>
					<div ng-messages-include="error_messages.html"></div>
				</ng-messages>
			</md-input-container>
			<md-input-container>
			<label>Birth</label>
				<md-datepicker name='birth' ng-required="false" is-open='opened' ng-model='patient.birth'></md-datepicker>
				<ng-messages for="patientForm.birth.$error" multiple>
					<div ng-messages-include="error_messages.html"></div>
				</ng-messages>
			</md-input-container>
   			<md-input-container>
				<label>Race</label>
			</md-input-container>
			<md-radio-group name="race" ng-model="patient.race" layout="row">
				<md-radio-button value="asian">Asian</md-radio-button>
				<md-radio-button value="black">Black</md-radio-button>
				<md-radio-button value="white">White</md-radio-button>
			</md-radio-group>
  			<md-input-container>
				<label>Profession</label>
				<input name='profession' ng-required="false" is-open='opened' type='text' ng-model='patient.profession'/>
				<ng-messages for="patientForm.profession.$error" multiple>
					<div ng-messages-include="error_messages.html"></div>
				</ng-messages>
			</md-input-container>
   			<md-input-container>
				<label>Marital Status</label>
			</md-input-container>
			<md-radio-group name="maritalState" ng-model="patient.martialStatus" layout="row">
				<md-radio-button value="divorced">Divorced</md-radio-button>
				<md-radio-button value="married">Married</md-radio-button>
				<md-radio-button value="single">Single</md-radio-button>
				<md-radio-button value="widowed">Widowed</md-radio-button>
			</md-radio-group>
  			<md-input-container>
				<label>Weight</label>
				<input name='weight' ng-required="false" is-open='opened' type='number' min='0' max='300' ng-model='patient.weight'/>
				<ng-messages for="patientForm.weight.$error" multiple>
					<div ng-messages-include="error_messages.html"></div>
				</ng-messages>
			</md-input-container>
   			<md-input-container>
				<label>height</label>
				<input name='height' ng-required="false" is-open='opened' type='number' min='0' max='3' ng-model='patient.height'/>
				<ng-messages for="patientForm.height.$error" multiple>
					<div ng-messages-include="error_messages.html"></div>
				</ng-messages>
			</md-input-container>

		</md-content>
		<md-button aria-label='Save Patient' class="oga-float-bottom-right" ng-click='save()' ng-disabled="patientForm.$invalid">
			<md-tooltip>Save Patient</md-tooltip>
			<ng-md-icon icon="save" size="72" postion="br"></ng-md-icon>
		</md-button>
	</form>
</div>
