<h3>Angles</h3>
<div flex layout='column' ng-show='positionalsData.angles'>
	<style>
		table {
		    width:100%;
		}
		table, th, td {
		    border-collapse: collapse;
		    padding: 5px;
		    text-align: left;
		}
		table#t01 tr:nth-child(even) {
		    background-color: #eee;
		}
		table#t01 tr:nth-child(odd) {
		   background-color:#fff;
		}
		table#t01 th	{
		    background-color: black;
		    color: white;
		}
	</style>
	<table id="t01">
	  <tr>
	    <th>Description</th>
	    <th>Origin</th>		
	    <th>Component A</th>
	    <th>Component B</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	  <tr ng-repeat='ang in positionalsData.angles track by $index'>
		  <td>{{ang.description}}</td>
		  <td>{{formatMarkerName(ang.origin)}}</td>
		  <td>{{formatMarkerName(ang.component_a)}}</td>		
		  <td>{{formatMarkerName(ang.component_b)}}</td>
		  <td>
			<md-button aria-label='Delete angle' ng-click='deleteAngle($event, $index)'>
				<md-tooltip>Delete angle</md-tooltip>
				<ng-md-icon icon="delete" size="24" postion="bl"></ng-md-icon>
			</md-button>
		  </td>
		  <td>
			<md-button aria-label='Plot angles' ng-click='plotAngle($event, $index)'>
				<md-tooltip>Plot angles</md-tooltip>
				<ng-md-icon icon="image" size="24" postion="bl"></ng-md-icon>
			</md-button>
		  </td>
		  <td>
			<md-button aria-label='Plot angluar velocities' ng-click='plotAngularVelocities($event, $index)'>
				<md-tooltip>Plot angluar velocities</md-tooltip>
				<ng-md-icon icon="image" size="24" postion="bl"></ng-md-icon>
			</md-button>
		  </td>
	  </tr>
	</table>
</div>

<div ng-hide='positionalsData.angles'>
	<h4>No angle added</h4>
</div>

<md-button aria-label='Add a new angle' ng-click='addNewAngle()'>
	<md-tooltip>Add a new angle</md-tooltip>
	<ng-md-icon icon="playlist_add" size="36" postion="bl"></ng-md-icon>
</md-button>
