<md-toolbar layout="row">
	<h1>Gait Analysis</h1>
	<span flex></span>
</md-toolbar>
<div layout='row' flex class='oga-content-wrapper'>
	<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
		<h2>{{patient.name}}</h2>
		<p>Birth Date: {{patient.birth}}</p>
		</br>
		</br>
		</br>
		<md-button aria-label='Add Patient Gait Data' class="oga-float-bottom-right" >
			<md-tooltip>Add Patient Gait Data</md-tooltip>
			<ng-md-icon icon="add_circle" size="72" postion="br" ng-click='addGaitData()'></ng-md-icon>
		</md-button>
	</md-sidenav>
	<div flex class="oga-content-wrapper">
		<div layout='row' ng-show='isAdding'>
			<input type="file" onchange="angular.element(this).scope().setFile(this)">
			<button ng-click="uploadFile()">Upload</button>
			<button ng-click="cancel()">Cancel</button>
		</div>
	</div>
</div>
