<div id="webgl_parent" width="100%" height="100%"  ng-show="isPlaySample" flex >
	<div flex id='webgl_output' width="100%" height="100%" >
	</div>
	<md-content layout="row" class="oga-float-bottom-right" >
		<md-input-container>
			<label>Frame</label>
			<input ng-model='controls.frames' type='text' min='0' max='positionalsData.final_frame - 1'/>
		</md-input-container>
		<md-input-container>
			<label>Frame Speed</label>
			<input ng-model='controls.frameSpeed' type='text'/>
		</md-input-container>

		<md-button aria-label='Less speed' ng-click='controls.minus()'>
			<md-tooltip>Less speed</md-tooltip>
			<ng-md-icon icon="remove_circle_outline" size="72" postion="br"></ng-md-icon>
		</md-button>

		<md-button aria-label='More speed' ng-click='controls.plus()'>
			<md-tooltip>More speed</md-tooltip>
			<ng-md-icon icon="add_circle_outline" size="72" postion="br"></ng-md-icon>
		</md-button>

		<md-button aria-label='Play' ng-click='controls.play()'>
			<md-tooltip>Play</md-tooltip>
			<ng-md-icon icon="play_arrow" size="72" postion="br"></ng-md-icon>
		</md-button>

		<md-button aria-label='Pause' ng-click='controls.pause()'>
			<md-tooltip>Pause</md-tooltip>
			<ng-md-icon icon="pause" size="72" postion="br"></ng-md-icon>
		</md-button>

		<md-button aria-label='Close' ng-click='controls.close()'>
			<md-tooltip>Close</md-tooltip>
			<ng-md-icon icon="close" size="72" postion="br"></ng-md-icon>
		</md-button>
	</md-content>
</div>

<md-toolbar layout="row" ng-hide="isPlaySample">
	<md-button aria-label='Menu' ng-click="goBack()">
		<md-tooltip>Back</md-tooltip>
		<ng-md-icon icon="arrow_back" size="48"></ng-md-icon>
	</md-button>
	<h1>{{apptitle}}</h1>
	<span flex></span>
</md-toolbar>
<section layout='row' style="height:100%;" flex ng-hide="isPlaySample">
	<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" flex>
		<h2>Gait Analysis</h2>
		<md-button ng-click="close()" class="md-primary" hide-gt-md>
			Close Side
		</md-button>
		<md-content layout-padding flex>
			<h3>{{patient.name}}</h3>
			<p>Birth Date: {{patient.birth|date:'dd/MMM/yyyy'}}</p>
			<md-subheader>Gait samples.</md-subheader>
			<md-list flex>
				<md-list-item ng-repeat='gait_sample in patient.gait_samples' layout='column'>
					<ng-content>
						<md-button aria-label='Show gait sample' ng-click='showGaitSample(gait_sample)'>
							<md-tooltip>Show sample</md-tooltip>
							<ng-md-icon icon='open_in_new'></ng-md-icon>
						</md-button>
						{{gait_sample.date|date:'dd/MMM/yyyy'}} - {{gait_sample.description}}
					</ng-content>
				</md-list-item>
			</md-list>
			<md-button aria-label='Add gait sample' ng-click='addGaitData()'>
				<md-tooltip>Add gait sample</md-tooltip>
				<ng-md-icon icon="add_circle" size="72" postion="br"></ng-md-icon>
			</md-button>
		</md-content>
	</md-sidenav>
	<md-content layout-padding flex width="100%" height="100%" id="md-content-gait-sample-detail">
		<md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md>
			Open side	
		</md-button>
		<form name='gaitSampleForm'>
			<div flex ng-hide='isAddingNewAngle || isPlaySample || isShowPlot'>
				 <div layout="column" flex>
					<div flex ng-include src="'gait_analysis/gait_sample_detail.html'" ng-show='gaitSampleEnabled || isAdding'></div>
					<div flex ng-include src="'gait_analysis/markers.html'" ng-show="isShowMarkers"></div>
					<div flex ng-include src="'gait_analysis/angles.html'" ng-show="isShowAngles"></div>
					<div layout="row" class="oga-float-bottom-right">
						<md-button aria-label='Delete sample' ng-click='confirmDeletion($event)' ng-show='!isAdding'>
							<md-tooltip>Delete sample</md-tooltip>
							<ng-md-icon icon="delete" size="72" postion="bl"></ng-md-icon>
						</md-button>
						<md-button aria-label='Save sample' ng-click='saveSample()'>
							<md-tooltip>Save sample</md-tooltip>
							<ng-md-icon icon="save" size="72" postion="bl"></ng-md-icon>
						</md-button>
					</div>
				 </div>
			</div>
		</form>
		<div flex ng-include src="'gait_analysis/new_angle.html'" ng-show="isAddingNewAngle"></div>
		<div flex ng-show='isShowPlot' ng-include src="'gait_analysis/plot.html'">
		</div>
	</md-content>
</section> 
