<div flex layout='column'>
	<h3>Markers</h3>
	<md-content flex layout='row' ng-repeat='marker in positionalsData.markers track by $index'>
		<md-input-container>
			<label>Marker {{$index}}</label>
			<input type="text" name="marker{{$index}}" ng-model='positionalsData.markers[$index]'></input>
		</md-input-container>
		<md-button aria-label='View graphic' ng-click='showGraphic($index)'> 
			<md-tooltip>View graphic</md-tooltip>
			<ng-md-icon icon="image" size="72"></ng-md-icon>
		</md-button>
	</md-content>
</div>
