<h2>New Angle</h2>
<form name='newAngleForm'>
	<md-content flex layout='row'>
		<md-input-container>
			<label>Angle Description</label>
			<input name="angle_description" ng-model='angle.description' ng-required='true'></input>
			<ng-messages for="gaitSampleForm.angle_description.$error" multiple>
				<div ng-messages-include="error_messages.html"></div>
			</ng-messages>
		</md-input-container>
		<md-select name='angle_origin' ng-required='true' ng-model="angle.origin" placeholder="Origin" style="min-width: 200px;">
			<md-option ng-repeat='marker in positionalsData.markers track by $index' value="{{$index}}">
				{{'Marker ' + $index+ ' ' + marker}}
			</md-option>
		</md-select>
		<md-select name='angle_component_a' ng-required='true' ng-model="angle.component_a" placeholder="Component A" style="min-width: 200px;">
			<md-option ng-repeat='marker in positionalsData.markers track by $index' value="{{$index}}">
				{{'Marker ' + $index+ ' ' + marker}}
			</md-option>
		</md-select>
		<md-select name='angle_component_b' ng-required='true' ng-model="angle.componet_b" placeholder="Component B" style="min-width: 200px;">
			<md-option ng-repeat='marker in positionalsData.markers track by $index' value="{{$index}}">
				{{'Marker ' + $index+ ' ' + marker}}
			</md-option>
		</md-select>
	</md-content>
	<md-button aria-label='Cancel' ng-click='cancelNewAngle()'>
		<md-tooltip>Cancel</md-tooltip>
		<ng-md-icon icon="cancel" size="72" postion="bl"></ng-md-icon>
	</md-button>
	<md-button aria-label='Save angle' ng-click='saveNewAngle()' ng-disabled='newAngleForm.$invalid'>
		<md-tooltip>Save angle</md-tooltip>
		<ng-md-icon icon="save" size="72" postion="bl"></ng-md-icon>
	</md-button>
</form>
